:root {
  /* COLOURS */
  --primary-color-1: #391171;
  --primary-color-2: #299DDA;
  --primary-color-3: #5BC6B4;
  --primary-color-4: #F26177;
  --primary-color-5: #FFD251;
  --hover-color: #24094A;
  --bg-color-1: #FFF;
  --bg-color-2: #E7E1EE;
  --link-color: var(--primary-color-1);

  /* BUTTONS */
  --primary-btn-bg: var(--primary-color-1);
  --primary-btn-border: var(--primary-color-1);
  --primary-btn-text: #FFF;

  --primary-btn-hover-bg: var(--hover-color);
  --primary-btn-hover-border: var(--hover-color);
  --primary-btn-hover-text: #FFF;

  --primary-btn-focus-bg: var(--primary-color-1);
  --primary-btn-focus-border: var(--primary-color-2);
  --primary-btn-focus-text: #FFF;

  --primary-btn-active-bg: var(--hover-color);
  --primary-btn-active-border: var(--hover-color);
  --primary-btn-active-text: #FFF;

  --secondary-btn-bg: #FFF;
  --secondary-btn-border: var(--primary-color-1);
  --secondary-btn-text: var(--primary-color-1);

  --secondary-btn-hover-bg: #FFF;
  --secondary-btn-hover-border: var(--primary-color-2);
  --secondary-btn-hover-text: var(--primary-color-1);

  --secondary-btn-focus-bg: #FFF;
  --secondary-btn-focus-border: var(--primary-color-2);
  --secondary-btn-focus-text: var(--primary-color-1);

  --secondary-btn-active-bg: #FFF;
  --secondary-btn-active-border: var(--hover-color);
  --secondary-btn-active-text: var(--primary-color-1);

  --top-btn-bg: var(--primary-color-2);
  --top-btn-border: var(--primary-color-2);
  --top-btn-text: #FFF;

  --top-btn-hover-bg: var(--primary-color-1);
  --top-btn-hover-border: var(--primary-color-1);
  --top-btn-hover-text: #FFF;

  --top-btn-focus-bg: var(--primary-color-2);
  --top-btn-focus-border: var(--primary-color-1);
  --top-btn-focus-text: #FFF;

  --top-btn-active-bg: var(--hover-color);
  --top-btn-active-border: var(--hover-color);
  --top-btn-active-text: #FFF;

  /* TYPOGRAPHY */
  --h1-color: var(--primary-color-1);
  --h3-color: #F26177;
  --h4-color: #26201F;
  --headings-color: var(--primary-color-1);
  --light-text-color: #343434;

  /* ALERTS */
  --notification-bg: var(--primary-color-5);
  --notification-text: var(--primary-color-1);
  --confirmation-bg: var(--primary-color-3);
  --confirmation-text: var(--primary-color-1);
  --error-bg: #E02020;

  /* SECTIONS */
  --section-primary-border: var(--primary-color-3);
  --section-primary-heading: var(--primary-color-1);
  --section-secondary-border: var(--primary-color-4);
  --section-secondary-heading: var(--primary-color-1);

  /* FORMS */
  --input-focus-border: var(--primary-color-2);

  /* EMAILS */
  --email-h1: var(--primary-color-1);
  --email-h2: var(--primary-color-2);
  --email-struggling-bg: var(--primary-color-2);
  --email-feedback-bg: var(--bg-color-2);
  --email-feedback-h3: var(--primary-color-2);
  --email-feedback-button: var(--primary-color-2);
  --email-links: var(--primary-color-1);
  --email-btn: var(--primary-color-2);
  --email-intro: var(--h4-color);
}