:root {
  /* COLOURS */
  --primary-color-1: #00ADF0;
  --primary-color-2: #000045;
  --primary-color-3: #FEF200;
  --primary-color-4: #01011C;
  --bg-color-1: #FFF;
  --bg-color-2: #DFDFEB;
  --link-color: var(--primary-color-2);

  /* BUTTONS */
  --primary-btn-bg: var(--primary-color-2);
  --primary-btn-border: var(--primary-color-2);
  --primary-btn-text: #FFF;

  --primary-btn-hover-bg: var(--primary-color-4);
  --primary-btn-hover-border: var(--primary-color-4);
  --primary-btn-hover-text: #FFF;

  --primary-btn-focus-bg: var(--primary-color-4);
  --primary-btn-focus-border: #FFF;
  --primary-btn-focus-text: #FFF;

  --primary-btn-active-bg: var(--primary-color-1);
  --primary-btn-active-border: var(--primary-color-1);
  --primary-btn-active-text: var(--primary-color-2);

  --secondary-btn-bg: #FFF;
  --secondary-btn-border: var(--primary-color-2);
  --secondary-btn-text: var(--primary-color-2);

  --secondary-btn-hover-bg: #FFF;
  --secondary-btn-hover-border: var(--primary-color-1);
  --secondary-btn-hover-text: var(--primary-color-2);

  --secondary-btn-focus-bg: #FFF;
  --secondary-btn-focus-border: var(--primary-color-2);
  --secondary-btn-focus-text: var(--primary-color-2);

  --secondary-btn-active-bg: #FFF;
  --secondary-btn-active-border: var(--primary-color-4);
  --secondary-btn-active-text: var(--primary-color-4);

  --top-btn-bg: var(--primary-color-1);
  --top-btn-border: var(--primary-color-1);
  --top-btn-text: var(--primary-color-2);

  --top-btn-hover-bg: var(--primary-color-2);
  --top-btn-hover-border: var(--primary-color-2);
  --top-btn-hover-text: #FFF;

  --top-btn-focus-bg: var(--primary-color-1);
  --top-btn-focus-border: var(--primary-color-2);
  --top-btn-focus-text: var(--primary-color-2);

  --top-btn-active-bg: var(--primary-color-4);
  --top-btn-active-border: var(--primary-color-4);
  --top-btn-active-text: #FFF;

  /* TYPOGRAPHY */
  --h1-color: var(--primary-color-2);
  --h2-color: var(--primary-color-2);
  --h3-color: var(--primary-color-2);
  --h4-color: var(--primary-color-2);
  --headings-color: var(--primary-color-2);
  --light-text-color: #4F758B;

  /* ALERTS */
  --notification-bg: var(--primary-color-3);
  --notification-text: var(--primary-color-2);
  --confirmation-bg: var(--primary-color-1);
  --confirmation-text: var(--primary-color-2);
  --error-bg: #E02020;

  /* SECTIONS */
  --section-primary-border: var(--primary-color-2);
  --section-primary-heading: var(--primary-color-2);
  --section-secondary-border: var(--primary-color-1);
  --section-secondary-heading: var(--primary-color-2);

  /* FORMS */
  --input-focus-border: var(--primary-color-2);

  /* EMAILS */
  --email-h1: var(--primary-color-2);
  --email-h2: var(--primary-color-2);
  --email-struggling-bg: var(--primary-color-2);
  --email-feedback-bg: var(--bg-color-2);
  --email-feedback-h3: var(--primary-color-2);
  --email-feedback-button: var(--primary-color-2);
  --email-links: var(--primary-color-2);
  --email-btn: var(--primary-color-2);
  --email-intro: var(--primary-color-4);
}