:root {
  /* COLOURS */
  --primary-color-1: #D14900;
  --primary-color-2: #6E2B61;
  --primary-color-3: #4F758B;
  --primary-color-4: #B30219;
  --primary-color-5: #E35205;
  --bg-color-1: #FFF;
  --bg-color-2: #F6F3F6;
  --link-color: var(--primary-color-3);
  --primary-btn-hover-color: #512047;
  --secondary-btn-hover-color: #411B39;

  /* BUTTONS */
  --primary-btn-bg: var(--primary-color-2);
  --primary-btn-border: var(--primary-color-2);
  --primary-btn-text: #FFF;

  --primary-btn-hover-bg: var(--primary-btn-hover-color);
  --primary-btn-hover-border: var(--primary-btn-hover-color);
  --primary-btn-hover-text: #FFF;

  --primary-btn-focus-bg: var(--primary-color-2);
  --primary-btn-focus-border: var(--primary-color-4);
  --primary-btn-focus-text: #FFF;

  --primary-btn-active-bg: var(--primary-color-1);
  --primary-btn-active-border: var(--primary-color-1);
  --primary-btn-active-text: #FFF;

  --secondary-btn-bg: #FFF;
  --secondary-btn-border: var(--primary-color-2);
  --secondary-btn-text: var(--primary-color-2);

  --secondary-btn-hover-bg: #FFF;
  --secondary-btn-hover-border: var(--secondary-btn-hover-color);
  --secondary-btn-hover-text: var(--secondary-btn-hover-color);

  --secondary-btn-focus-bg: #FFF;
  --secondary-btn-focus-border: var(--primary-color-1);
  --secondary-btn-focus-text: var(--primary-color-2);

  --secondary-btn-active-bg: #FFF;
  --secondary-btn-active-border: var(--primary-color-1);
  --secondary-btn-active-text: var(--primary-color-2);

  --top-btn-bg: var(--primary-color-1);
  --top-btn-border: var(--primary-color-1);
  --top-btn-text: #FFF;

  --top-btn-hover-bg: var(--primary-color-3);
  --top-btn-hover-border: var(--primary-color-3);
  --top-btn-hover-text: #FFF;

  --top-btn-focus-bg: var(--primary-color-1);
  --top-btn-focus-border: var(--primary-color-2);
  --top-btn-focus-text: #FFF;

  --top-btn-active-bg: var(--primary-color-1);
  --top-btn-active-border: var(--primary-color-1);
  --top-btn-active-text: #FFF;

  /* TYPOGRAPHY */
  --h1-color: var(--primary-color-1);
  --h2-color: var(--primary-color-1);
  --h3-color: var(--primary-color-1);
  --h4-color: var(--primary-color-1);
  --headings-color: var(--primary-color-2);
  --light-text-color: var(--primary-color-3);

  /* ALERTS */
  --notification-bg: var(--primary-color-1);
  --notification-text: #FFF;
  --confirmation-bg: var(--primary-color-3);
  --confirmation-text: #FFF;
  --error-bg: #E02020;

  /* SECTIONS */
  --section-primary-border: var(--primary-color-2);
  --section-primary-heading: var(--primary-color-2);
  --section-secondary-border: var(--primary-color-1);
  --section-secondary-heading: var(--primary-color-1);

  /* FORMS */
  --input-focus-border: var(--primary-color-1);

  /* EMAILS */
  --email-h1: var(--primary-color-1);
  --email-h2: var(--primary-color-2);
  --email-struggling-bg: var(--primary-color-2);
  --email-feedback-bg: var(--main-bg-color);
  --email-feedback-h3: var(--primary-color-2);
  --email-feedback-button: var(--primary-color-2);
  --email-links: var(--primary-color-2);
  --email-btn: var(--primary-color-2);
  --email-intro: var(--primary-color-3);
}